:root{
  --statcolor: black;
  --normal: #A8A77A;
  --water: #6390F0;
  --fire: #EE8130;
  --electric: #F7D02C;
  --grass: #7AC74C;
  --ice: #96D9D6;
  --fighting: #C22E28;
  --poison: #A33EA1;
  --ground: #E2BF65;
  --flying: #A98FF3;
  --psychic: #F95587;
  --bug: #A6B91A;
  --rock: #B6A136;
  --ghost: #735797;
  --dragon: #6F35FC;
  --dark: #705746;
  --steel: #B7B7CE;
  --fairy: #D685AD;
}
.card-container{
  display: grid;
  grid-template-columns: 240px;
  grid-template-rows: 150px 150px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 5px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(65, 0, 0, 0.2), 0 3px 10px 0 rgba(65, 0, 0, 0.19); ;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
  -mox-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.card-container:hover{
  transform: scale(1.05);
}
.card-image{
  grid-area: image;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 14px;
}
.card-text{
  grid-area: text;
  padding-top: 25px;
  margin: 10px;
}
.card-text h3 {
  color: grey;
  font-size: 13px;
}
.card-text h1{
  margin-top: 10px;
  font-size: 20px;
}
.card-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--statcolor);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding:10px;
}
.card-stats .type{
  font-size: 11px;
  text-transform: uppercase;
}
.card-stats .value{
  padding-top: 10px;
  font-size: 20px;
}
.card-stats .border{
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.card-text .tps{
  display: flex;
  direction: row;
  justify-content: space-evenly;
  font-size: 12px;
}
.normal{
  background: var(--normal);
}
.fire{
  background: var(--fire);
}
.water{
  background: var(--water);
  color: white;
}
.electric{
  background: var(--electric);
}
.grass{
  background: var(--grass);
}
.ice{
  background: var(--ice);
}
.fighting{
  background: var(--fighting);
  color: white;
}
.poison{
  background: var(--poison);
  color: white;
}
.ground{
  background: var(--ground);
}
.flying{
  background: var(--flying);
}
.psychic{
  background: var(--psychic);
}
.bug{
  background: var(--bug);
}
.rock{
  background: var(--rock);
}
.ghost{
  background: var(--ghost);
  color: white;
}
.dragon{
  background: var(--dragon);
  color: white;
}
.dark{
  background: var(--dark);
}
.steel{
  background: var(--steel);
}
.fairy{
  background: var(--fairy);
}




.normalT{
  color: var(--normal);
}
.fireT{
  color: var(--fire);
}
.waterT{
  color: var(--water);
}
.electricT{
  color: var(--electric);
}
.grassT{
  color: var(--grass);
}
.iceT{
  color: var(--ice);
}
.fightingT{
  color: var(--fighting);
}
.poisonT{
  color: var(--poison);
}
.groundT{
  color: var(--ground);
}
.flyingT{
  color: var(--flying);
}
.psychicT{
  color: var(--psychic);
}
.bugT{
  color: var(--bug);
}
.rockT{
  color: var(--rock);
}
.ghostT{
  color: var(--ghost);
}
.dragonT{
  color: var(--dragon);
}
.darkT{
  color: var(--dark);
}
.steelT{
  color: var(--steel);
}
.fairyT{
  color: var(--fairy);
}